<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Bibhu's Book Store</h1>

<img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2021/img/Books/XCM_Manual_1347865_1772107_US_us_bhp_aug_2021_us_en_3961450_1500x300_en_US.jpg"width="1500" height="300">
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Books/042021/1500-X-350-Deals-Books-GIF-Banner-Revised.gif">
 <img src="https://images-na.ssl-images-amazon.com/images/G/01/books/editorial/botysf21/BBOTYSF21_Banners_BHPbillboard_d.png"width="1500" height="300">
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Books/072021/bookshprefresh/1500-X-300-School.jpg">
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Books/072021/bookshprefresh/1500-X-300-Exam-Preparations.jpg">
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Books/072021/bookshprefresh/1500-X-300-University.jpg">
<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Books/072021/bookshprefresh/1500-X-300--Books-homeapage-Children-revised.jpg">


{% endblock %}